.kamban-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 126vh;
    height: 100%;
    overflow-x: scroll;
}

.kamban-column {
    flex: 1 0 300px;
    margin: 0 10px;
    padding: 10px;
    background-color: #3b3d5f;
    border-radius: 5px;
    height: 500px;
    width: 200px;
    overflow-y: auto;
}

.kamban-card {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kamban-card-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.kamban-card-description {
    font-size: 14px;
    color: #555;
}

.button-add-column {
    background-color: #3b3d5f;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-add-column:hover {
    background-color: #2c2e4a;
}

.button-remove-column {
    background-color: #5f3b54;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-remove-column:hover {
    background-color: #4a2c3e;
}

.column-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-duration input{
    background: #3c2c4a;
    border-style: none;
    border-radius: 10px;
    color: #fff;
    height: 23px;
    font-family: 'Work Sans', sans-serif;
}